<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-button expand="block" [routerLink]="['/rest']">REST</ion-button>
        <ion-button expand="block" [routerLink]="['/jwt']">JWT</ion-button>
        <ion-button expand="block" [routerLink]="['/auth']">AuthToken</ion-button>
        <ion-button expand="block" [routerLink]="['/native/camera']">Câmera</ion-button>
        <ion-button expand="block" [routerLink]="['/native/qr']">QRCode</ion-button>
        <ion-button expand="block" [routerLink]="['/native/map']">Map</ion-button>
    </ion-card>
</ion-content>
